<div>
  <link href="./footer3.css" rel="stylesheet" />
  <footer class="footer3-thq-footer4-elm thq-section-padding">
    <div class="footer3-thq-max-width-elm thq-section-max-width">
      <div class="footer3-thq-credits-elm">
        <div class="footer3-thq-row-elm">
          <div class="footer3-thq-footer-links-elm">
            <span class="footer3-thq-content3-elm thq-body-small">
              © 2026 العاب زرعة 
            </span>
            <a
              href="https://web.com"
              target="_blank"
              rel="noreferrer noopener"
              class="footer3-thq-link11-elm thq-body-small"
            >
              <fragment class="footer3-fragment2">
                <span class="footer3-text2">سياسة الخصوصية</span>
              </fragment>
            </a>
            <a
              href="https://web.com"
              target="_blank"
              rel="noreferrer noopener"
              class="footer3-thq-link12-elm thq-body-small"
            >
              <fragment class="footer3-fragment1">
                <span class="footer3-text1">شروط الاستخدام</span>
              </fragment>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
